.hidden{
    visibility:hidden;
}
#tamoVoice{
    border: 1px solid black;
    width: 200px;
    height: 200px;
}
.talking{
    animation: mouthMotion 1s linear 1s infinite;
}

@keyframes mouthMotion{
    0%{
        transform: scaleY(1);
        transform-origin: 20px 120px;
    }
    50%{
        transform: scaleY(0);
        transform-origin: 20px 120px;
    }
    100%{
        transform: scaleY(1);
        transform-origin: 20px 120px;
    }
}